
    <div  id = "UserPage">

        <div id = "FotoDescricao">
            <%= image_tag "foto.jpg", id: "UserImage" %>

            <div id = "NomeTexto">
                <h3>Nome</h3>
                <h6 id = "DescricaoUser">Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h6>
            </div>

        </div>

        <div id = "aaaa">
            <h1 style = "margin-left: 0.4em">Artigos Publicados</h1>

            <div id = "Tabs">
                <div class="card bg-dark text-white" id = "ArtigoPublicado">
                    <%= image_tag "foto.jpg", id: "ImagemArtigoPublicado" %>
                    <div class="card-img-overlay" id ="ArticleOverlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
