/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import " bootstrap ";

 #Trending {
     display: flex;
     flex-wrap: wrap;
 }

 #BigTrending {
    width: 45%;
    height: 30em !important;
    margin-right: 6.5%;
}

#ImagemCard {
    object-fit: cover;
    height: 30em;
}

#SmallTrendingArea {
    width: 45%;
    height: 30em;
}

#SmallTrending {
    width: 100%;
    height: 8em !important;
    margin-bottom: 3em;
}

#ImagemCardSmall {
    object-fit: cover;
    height: 8em;
}

#CardOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

#BigTrending:hover #CardOverlay {
    opacity: 0.5;
} 

#SmallTrending:hover #CardOverlay {
    opacity: 0.5;
} 