/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 $import: "bootstrap";
 $import: url('https://fonts.googleapis.com/css?family=Montserrat');

 .text{
    font-family: 'Montserrat', sans-serif; 
 }

 .magin-bottom{
     margin-bottom: 2rem;
 }

 .margin-top{
     margin-top: 2rem;
 }

 .margin-left{
     margin-right: 0 !important;
     margin-left: 20em;
 }

 .margin-botton{
    margin-bottom: 5rem;
 }

 .col-lg-6{
     margin-right: 0;
 }

 .marg{
     margin-left: .5em;
 }
 .down{
     margin-top: 2rem;
 }

.back {
    background-color: #f9f9f9;
}

