// Place all the styles related to the perfil controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import " bootstrap ";

#UserPage {
    display: flex;
    flex-wrap: nowrap;
}

#FotoDescricao {
    width: 21.5%;
    height: 100%;
    align-content: center;
    margin-left: 3em;
    margin-right: 3em;
    border-right: 1px solid black;
    position: fixed;
}

#UserImage {
    width: 90%;
    height: 50%;
    object-fit: cover;
    filter: grayscale(100%);
    margin-bottom: 5%;
}

#NomeTexto {
    width: 90%;
    height: 40%;
    word-break: break-all;
}

#aaaa {
    width: 78.5%;
    margin-left: 25%;
}

#Tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#ArtigoPublicado {
    width: 20em;
    height: 20em;
    margin: 1em;
    margin-bottom: 6em;
    position: relative;
}

#ArtigoPublicado:after {
    display: block;
    padding-bottom: 100%; 
}

#ImagemArtigoPublicado {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ArticleOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
 
#ArtigoPublicado:hover #ArticleOverlay {
    opacity: 0.6;
} 

#BotoesArtigo {
    width: 17.5em;
    height: 7em;
    display: flex;
    justify-content: space-around;
    align-items: flex-end; 
}

#BotoesPerfil {
    display: flex;
    height: 50%;
    justify-content: flex-end;
    align-items: flex-end;
}

#Botao {
    height: 2.5em;
    margin: 0.3em;
}
 