// Place all the styles related to the perfil controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import " bootstrap ";

#aaa {
    background-color: blue;
    top: 0;
}

#UserPage {
    display: flex;
    flex-wrap: wrap;
}

#RestanteUser {
    margin-left: 25em;
}


#FotoDescricao {
    width: 20em;
    position: fixed;
    background-color: #d0CCd0;
}

#UserImage {
    object-fit: cover;
    width: 19em;
    height: 19em;
    margin-bottom: 1em;
    margin-top: 1em;
}

#DescricaoUser {
    word-wrap: break-word;
    margin-right: 0.5em;
} 

#Tabs {
    width: 85em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: red;
}

#ArtigoPublicado {
    height: 20em;
    width: 20em;
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
}

#ImagemArtigoPublicado {
    height: 100%;
    object-fit: cover;
}

#ArticleOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #231e1e;
 }
 
 #ArtigoPublicado:hover #ArticleOverlay {
    opacity: 0.6;
 } 
